<a href="https://colab.research.google.com/github/tonyleung09b/data_analytics/blob/main/Tony_Leung_Unit2_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [ ]:
foodlist = ["Apple", "Banana", "Figs", "Grapes", "Kiwi"]
foodlist

['Apple', 'Banana', 'Figs', 'Grapes', 'Kiwi']

## 2.	Print out those variables by using a for loop

In [ ]:
foodlist = ["Apple", "Banana", "Figs", "Grapes", "Kiwi"]
for x in foodlist:
  print(x)

Apple
Banana
Figs
Grapes
Kiwi

## 3.	Modify your for loop to add a message to your for loop.

In [ ]:
foodlist = ["Apple", "Banana", "Figs", "Grapes", "Kiwi"]
for x in foodlist:
  print(x+ ", is my favorite fruit!")

Apple, is my favorite fruit!
Banana, is my favorite fruit!
Figs, is my favorite fruit!
Grapes, is my favorite fruit!
Kiwi, is my favorite fruit!

## 4.	Use a for loop to print even numbers from 1-20.

In [ ]:
for x in [*range(0,21,2)]:
    print(x)

0
2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [ ]:
foodlist = ["Lemon", "Banana", "Figs", "Grapes", "Kiwi"]
foodlist.sort()
print(foodlist)

['Banana', 'Figs', 'Grapes', 'Kiwi', 'Lemon']

## 6.	Print out the first three elements of your list.

In [ ]:
foodlist = ["Apple", "Banana", "Figs", "Grapes", "Kiwi"]

print(foodlist[0:3])

['Apple', 'Banana', 'Figs']

## 7.	Create a loop to print the last 2 elements of your list.

In [ ]:
foodlist = ["Apple", "Banana", "Figs", "Grapes", "Kiwi"]
for x in foodlist[3:5]:
    print(x)

Grapes
Kiwi